<main class="mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="card shadow">
          <div class="card-header text-center">
            <h1 class="h4 mb-0">Patrimônio</h1>
            <small class="text-muted">
              {{ patrimonio.id ? 'Editar Patrimônio' : 'Cadastrar Patrimônio' }}
            </small>
          </div>
          <div class="card-body">

            <!-- Alerta de mensagem -->
            <div *ngIf="mensagem" class="alert alert-{{tipoMensagem}} text-center" role="alert">
              {{ mensagem }}
            </div>

            <form #patrimonioForms="ngForm" (ngSubmit)="onSubmit()" class="row g-3" style="margin-top: 20px;">
              <div class="row">
                <div class="col-md-2">
                  <label for="codigo" class="form-label">Nº Patrimônio *</label>
                  <input
                    type="text"
                    class="form-control"
                    name="codigo"
                    id="codigo"
                    [(ngModel)]="patrimonio.codigo"
                    required
                    [ngClass]="{'is-invalid': patrimonioForms.submitted && !patrimonio.codigo || codigo.touched && !patrimonio.codigo}"
                    #codigo="ngModel"
                    [maxLength]="8"
                  >
                  <div
                    *ngIf="(patrimonioForms.submitted && !patrimonio.codigo) || (codigo.touched && !patrimonio.codigo)"
                    class="invalid-feedback"
                  >
                    O campo Nº Patrimônio é obrigatório.
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="dataCadastro" class="form-label">Data de Cadastro</label>
                  <input
                    type="date"
                    class="form-control"
                    name="dataCadastro"
                    [(ngModel)]="patrimonio.dataCadastro"
                    id="dataCadastro"
                    disabled
                  >
                </div>
                <div class="col-md-6">
                  <label for="nome" class="form-label">Nome *</label>
                  <input
                    type="text"
                    class="form-control"
                    id="nome"
                    name="nome"
                    [(ngModel)]="patrimonio.nome"
                    required
                    [ngClass]="{'is-invalid': patrimonioForms.submitted && !patrimonio.nome || nome.touched && !patrimonio.nome}"
                    #nome="ngModel"
                  >
                  <div
                    *ngIf="(patrimonioForms.submitted && !patrimonio.nome) || (nome.touched && !patrimonio.nome)"
                    class="invalid-feedback"
                  >
                    O campo Nome é obrigatório.
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <label for="modelo" class="form-label">Modelo</label>
                  <input
                    type="text"
                    class="form-control"
                    id="modelo"
                    name="modelo"
                    [(ngModel)]="patrimonio.modelo"
                  >
                </div>
                <div class="col-md-4">
                  <label for="numeroSerie" class="form-label">Número de Série</label>
                  <input
                    type="text"
                    class="form-control"
                    id="numeroSerie"
                    name="numeroSerie"
                    [(ngModel)]="patrimonio.numeroSerie"
                  >
                </div>
                <div class="col-md-4">
                  <label for="dataAquisicao" class="form-label">Data de Aquisição *</label>
                  <input
                    type="date"
                    class="form-control"
                    id="dataAquisicao"
                    name="dataAquisicao"
                    [(ngModel)]="patrimonio.dataAquisicao"
                    required
                    [ngClass]="{'is-invalid': patrimonioForms.submitted && !patrimonio.dataAquisicao || dataAquisicao.touched && !patrimonio.dataAquisicao}"
                    #dataAquisicao="ngModel"
                  >
                  <div
                    *ngIf="(patrimonioForms.submitted && !patrimonio.dataAquisicao) || (dataAquisicao.touched && !patrimonio.dataAquisicao)"
                    class="invalid-feedback"
                  >
                    O campo Data de Aquisição é obrigatório.
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <label for="descricao" class="form-label">Descrição</label>
                  <input
                    type="text"
                    class="form-control"
                    id="descricao"
                    placeholder="Descrição do patrimônio"
                    name="descricao"
                    [(ngModel)]="patrimonio.descricao"
                  >
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <label for="setor" class="form-label">Setor</label>
                  <select
                    class="form-select"
                    id="setor"
                    name="setor"
                    [(ngModel)]="patrimonio.idSetor"
                    required
                    #idSetor="ngModel"
                    [ngClass]="{ 'is-invalid': patrimonioForms.submitted && !patrimonio.idSetor }"
                  >
                    <option value="" disabled>Selecione...</option>
                    <option *ngFor="let setor of setores" [value]="setor.id">
                      {{ setor.nome }}
                    </option>
                  </select>
                  <div *ngIf="patrimonioForms.submitted && !patrimonio.idSetor" class="invalid-feedback">
                    O campo Setor é obrigatório.
                  </div>
                </div>
                <div class="col-md-8">
                  <label for="localizacao" class="form-label">Localizacao</label>
                  <input
                    type="text"
                    class="form-control"
                    id="localizacao"
                    placeholder="Localização do patrimônio"
                    name="localizacao"
                    [(ngModel)]="patrimonio.localizacao"
                  >
                </div>
                <div class="col-md-4">
                  <label for="situacao" class="form-label">Situação</label>
                  <select
                    class="form-select"
                    id="situacao"
                    name="situacao"
                    [(ngModel)]="patrimonio.idStatus"
                  >
                    <option value="" disabled>Selecione...</option>
                    <option *ngFor="let situacao of patrimonioStatus" [value]="situacao.id">
                      {{ situacao.descricao }}
                    </option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="tipoAquisicao" class="form-label">Tipo de Aquisição *</label>
                  <select class="form-select" id="tipoAquisicao">
                    <option selected>Selecione...</option>
                    <option value="compra">Compra</option>
                    <option value="doacao">Doação</option>
                    <option value="transferencia">Transferência</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="valor" class="form-label">Valor R$ *</label>
                  <input
                    type="text"
                    class="form-control"
                    id="valor"
                    placeholder="Valor do patrimônio"
                    name="valor"
                    [(ngModel)]="patrimonio.valor"
                    required
                    [ngClass]="{'is-invalid': patrimonioForms.submitted && !patrimonio.valor || valor.touched && !patrimonio.valor}"
                    #valor="ngModel"
                  >
                  <div
                    *ngIf="(patrimonioForms.submitted && !patrimonio.valor) || (valor.touched && !patrimonio.valor)"
                    class="invalid-feedback"
                  >
                    O campo Valor é obrigatório.
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12 text-end" style="margin-top: 20px;">
                  <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-floppy-disk" style="color: #ffffff;"></i> Salvar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
